.auth-container-card {
    border-radius: 1rem;
    max-width: 400px;
}

.nav-pills {
    margin-left: 0;
    padding: 1em;
}

.auth-container-card-body {
    padding: 1em 3em 3em 3em;
}

.input {
    color: white !important;
    padding: 0.5em 0.75em !important;
}

.input:focus ~ .form-notch > .form-notch-middle {
    border-color: #3b71ca !important;
    border-top: 1px solid transparent !important;
    border-bottom-color: #fbfbfb !important;
}

.input:focus ~ .form-notch > * {
    border-color: #fbfbfb !important;
}

.error-message {
    animation: shake 0.4s 1 linear;
}

@keyframes shake {
    0% { transform: translate(30px); }
    20% { transform: translate(-30px); }
    40% { transform: translate(15px); }
    60% { transform: translate(-15px); }
    80% { transform: translate(8px); }
    100% { transform: translate(0px); }
}